*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #34495e;
}

.navigation{
    position: fixed;
    width: 60px;
    height: 100%;
    background: #2c3e50;
    transition: 0.5s;
    overflow: hidden;

}

.navigation:hover,
.navigation.active{
    width: 250px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;

}

.navigation ul li:hover{
  background-color: teal;

}

.navigation ul li a{
    position: relative;
    text-decoration: none;
    display: block;
    display: flex;
    width: 100%;
    color: white;
}


.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fa{
    font-size: 24px;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    
}

.toggle{
    position: absolute;
    top:0;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: #2c3e50;
    cursor: pointer;
}

.toggle.active{
    background-color: teal;
}


.toggle::before{
    content: '\f0c9';
    position: absolute;
    font-family: fontAwesome;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    color: #fff;

}

.toggle.active:before{
    content: '\f00d';
}


@media(max-width:767px){
    .navigation{
        left:-60px;
    }
     .navigation.active{
        left:0px;
        width: 100%;
    }
}